:root {
  font-size: 16px;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');
*{
  font-family: 'Ubuntu',sans-serif;

}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background: #eee;
}
.link {
  text-decoration: none;
  color: #000;
}